/* Place CSS styles here */
.photo1{
    text-align: center;
}

.photo1{
    border-image-width: 20%;
    padding: 1px;
    background-color: rgb(197, 197, 247);
    font-size: 2px;
    border-radius: 22px color rgb(255, 255, 192);
}

.photo2{
    width: 200%;
}
.topnav {
    background-color: #0a0332;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #e17fc3;
    color: white;
  }

  header {
    display: block;
    font-size: medium;
    color: #e17fc3;
  }

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
<h2 <p> style="text-alight:left"><p></h2>

<div style="background-color:black;color:white;padding:20px;">
  <h2>Our Story</h2>
  <p>Back in 2015 when we were students on Louisiana State University we started volenteering at a local shelter.</p>
  <p>After graduation we decided to start a local buiness to help increase adoptions.</p>
   <p> Finding a way to work with local shelters and engaged with the student population we created this cat cafe.</p>
</div>

.logo1 {

}

div.logo1 {
  max-width: 2%;
  height: 2px;
}
div.logo2 {
  max-width: 2%;
  height: 2px;
}
